<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<title>{{title}}</title>
</head>
<body>
{{body}}
<!--script>var transition = {pid: '', host: 'localhost', port:'8000'};</script-->
<script>{{script}}</script>
<script src='/n2o/bert.js' type='text/javascript' charset='utf-8'></script>
<script src='/n2o/bullet.js' type='text/javascript' charset='utf-8'></script>
<script src='/n2o/n2o.js' type='text/javascript' charset='utf-8'></script>
<div id="n2ostatus"></div>
</body>
</html>
