{lib_dirs,[".."]}.
{deps_dir,["deps"]}.
{deps,[
 %  {nitro,  ".*", {git, "git://github.com/synrc/nitro.git",  {tag,"0.9"}}},
 %  {jsone,  ".*", {git, "git://github.com/sile/jsone.git",   {tag,"v0.3.3"}}},
 %  {gproc,  ".*", {git, "git://github.com/uwiger/gproc.git", {tag,"0.3"}}},
    {cowboy, ".*", {git, "git://github.com/extend/cowboy",    {tag,"1.0.1"}}}
]}.
