{erl_opts, [debug_info]}.
{deps,[
    {simple_bridge, ".*", {git, "git://github.com/synrc/simple_bridge", "HEAD"}},
    {cowboy,        ".*", {git, "git://github.com/extend/cowboy",       {tag,"0.8.2"}}},
    {lager,         ".*", {git, "git://github.com/basho/lager.git",     {tag,"1.2.2"}}},
    {gproc,         ".*", {git, "git://github.com/esl/gproc.git",       "HEAD"}},
    {sync,          ".*", {git, "git://github.com/doxtop/sync",         "HEAD"}}
]}.
