{lib_dirs,[".."]}.
{deps_dir,["deps"]}.
{deps,[
    {cowboy,        ".*", {git, "git://github.com/extend/cowboy",          {tag,"0.8.6"}}},
    {mimetypes,     ".*", {git, "git://github.com/doxtop/mimetypes.git",   "HEAD"}},
    {gproc,         ".*", {git, "git://github.com/uwiger/gproc.git",       "HEAD"}},
    {erlydtl,       ".*", {git, "git://github.com/evanmiller/erlydtl.git", "HEAD"}}
]}.
