A { font-size:18pt; }
A:link { color: blue; }
A:visited { color: darkblue; }
A:hover { color: blue; }
SUP { font-size:10pt; }
html { zoom: 0.8; }
body { font-size:14pt; font-family: Lato, sans-serif; font-weight:300;}
TD { font-size:18pt; margin: 0 auto; padding-right: 20px; }
textarea { font-family: "Lucida Console", Monaco, monospace; padding: 10px; }
input { font-size:28pt; width: 50%; margin:15px 15px 5px 5px; }
button { font-size:20pt; margin-top:15px; padding: 10px; }
H1 { color: blue; font-weight: bold; font-size:26pt; margin-top:20px; margin-bottom:10px; margin-right:6px; }
H2 { color: darkblue; font-size:18pt; margin-top:20px; margin-bottom:10px; margin-right:6px; }
H3 { font-size:14pt; margin-top:20px; margin-bottom:10px; margin-right:6px; } 
P { font-size:18pt; margin-top: 0px; margin-bottom: 8px; }
#frame { width: 700px; height: 1000px; border: 1px solid black; }
.poem { font-size:14pt; margin-top: 0px; margin-bottom: 8px; white-space: pre;}
LI { font-size:12pt; }
pre { font-size:10pt; font-family: Calibri, Lucida Console; }
.small_infoblock { font-family: Calibri, Lucida Sans Unicode; font-size:8pt; }
.block  { background-color: #EEEEEE; padding-top:6;padding-bottom:10;padding-right:10;padding-left:10;}
.threecol { float:left; }
.left { float:left; }
.hints { width:59px;float:left;margin-right:6px; }
.main { width:843px;float:left;margin-right:26px; }
.contents { width:270px;float:left; }
.numbox { padding:10px 10px 10px 10px;background-color:black;color:white; }
.feed { margin-top:20px; }

code, div.lstlisting { font-size:14pt; margin: 20px 20px 20px 0px;
                        padding: 0px 20px 20px 20px; font-family: monospace;
                        white-space: pre; background-color: white; display: inline-block;
                         border-left:60px solid #afafaf; }
code, div.lstlisting .keyword              { font-weight: bold }
code, div.lstlisting .string, code .regexp { color: green }
code, div.lstlisting .class { color: darkblue }
code, div.lstlisting .record { color: purple }
code, div.lstlisting .special { color: royalblue }
code, div.lstlisting .number               { color: pink }
code, div.lstlisting .comment              { color: grey }


/* seahawks
 #03263a - college navy
 #90918c - wolf gray
 #4ea701 - action green
 #ffffff - white
 #36578c - blue
*/
.center{text-align: center;}
.main{ width:100%;z-index:2;background: #ffffff;}
.section{ border-bottom: 1px solid lightgray;}
.section-header{font-weight:300;}
.content{ margin-right:auto;margin-left:auto; max-width:1024px;padding: 1em 2em;}
.header{ height:2.2em; }
.profile-pic{padding:0 24px 0 24px;}
.profile-pic img{width:2.2em;height: 2.2em;border-radius:2em;}
.footer{text-align:center;color:90918c}
.menu{display: flex;}
.menu .pure-menu-heading{height:2em;line-height:2em;padding:0.1em 24px;display:flex;}
.pure-button-group .google-button{display:inline-block;}
.pure-button-group .avz-button{font-size:125%;color:#36578c;margin: 0 5px 0 5px;border-bottom:1px solid #90918c;}
