.textboxlister {
  position: relative;
  zoom: 1;
  font-family: "Lucida Grande", Verdana;
}

.textboxlister-values{
  cursor: text;
  position: relative;
  border: 1px solid #bababa;
  overflow-y: auto;
  overflow-x: hidden;
  background: #fff;
  font-weight:bold;
  line-height: 142%;
  margin:1px;
  margin-left:0;
  margin-bottom:0;
}

.textboxlister-values input {
  width:100%;
  border:0 !important;
  outline:0;
  font-size: 100%;
  background-color: #ffffff;
  resize:none;
  overflow: hidden;
  float:left;
  margin:4px;
  margin-left:4px;
}

.textboxlister-value-container{}

.textboxlister-value {
  float:left;
  border:1px solid #999;
  margin:2px 2px;
  padding:1px 4px;
  font-size:100%;
}

.textboxlister-value a:hover {
  color:#000000;
  font-size:100%;
}

.textboxlister-value-title {
  margin:0;
  text-decoration:none;
  cursor:hand;
  color: #000000;
  padding:5px 5px;
}
.textboxlister-value:hover{
  background: #BBCEF1;
}

.textboxlister-value-selected { border-color: #598BEC; background: #598BEC; color: #fff; }

.textboxlister-value a{
  font-weight:normal;
  display:inline-block;
  margin:0;
  padding:0;
}
.textboxlister-value a:link{
  text-decoration:none;
}

.textboxlister-close {
  width: 7px;
  height: 7px;
  font-size: 1px;
  background: url('close.gif');
  background-position:0px 50%;
  margin-left:5px !important;
}


.textboxlister-autocomplete-spinner{}
.textboxlister-autocomplete-input{}
.textboxlister-autocomplete-results{
  position:absolute;
  z-index:10000;
  border:1px solid #5c5c5c;
  overflow:auto;
  background: #ffffff;
  opacity: 0.9;
  filter: alpha(opacity=90);
  -webkit-box-shadow: 0 3px 3px #ccc;
  -moz-box-shadow: 0 3px 3px #ccc;
  box-shadow: 0 3px 3px #ccc;
  //border: 1px solid #999;
  //border-top: none;
  display: none;
}

.textboxlister-autocomplete-results ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  overflow:hidden;
}

.textboxlister-autocomplete-results ul li {
  margin:0;
  padding:8px;
}

.textboxlister-autocomplete-loading{}

.textboxlister-autocomplete-over{
  background: #BBCEF1 !important;
  outline:none;
}

.textboxlister-autocomplete-even,
.textboxlister-autocomplete-odd{
  background:#ffffff;
  outline:none;
}
.textboxlister-autocomplete-data{}
