<!doctype html>
<html lang="en">
<head>
  <meta name='viewport'  content="width=device-width, initial-scale=1.0">
  <link href='http://fonts.googleapis.com/css?family=Lato:300'    rel='stylesheet' type='text/css'/>
  <link href="https://unpkg.com/purecss@0.6.2/build/pure-min.css" rel="stylesheet" type='text/css'/>
  <link href='/static/synrc.css'  rel='stylesheet' type='text/css'/>
  <link href='/static/feed.css'   rel='stylesheet' type='text/css'/>
  <title>{{title}}</title>
</head>
<body>
  {{body}}
  <script>{{script}}</script>
  <script src='/n2o/protocols/bert.js'></script>
  <script src='/n2o/protocols/client.js'></script>
  <script src='/n2o/protocols/nitrogen.js'></script>
  <script src='/n2o/bullet.js'></script>
  <script src='/n2o/xhr.js'></script>
  <script src='/n2o/utf8.js'></script>
  <script src='/n2o/template.js'></script>
  <script src='/n2o/n2o.js'></script>
  <script src='/n2o/validation.js'></script>
  <script src='/n2o/ftp.js'></script>
  <script>protos = [$client,$bert]; N2O_start();</script>
</body>
</html>
