<html>
    <head>
        <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
        <link href='/static/synrc.css' type='text/css' rel='stylesheet'>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
        <title>Chat</title>
    </head>
    <body>
        <table cellpadding='20' align='center'>
            <tr>
                <td valign='top' align='center' height='230' width='300'>
                    <br><a href="/doc"><img src='/static/S.svg' border='0' height='200' style='margin-top:0px;'></a><br>
                </td>
                <td colspan='2' width='700' valign='top'>
                    <h1><b id='heading'>Roster</b></h1>
                    <h2>Unique Feed<br><button id='logout'></button></h2>
                </td>
            </tr>
            <tr>
                <td width='300' valign='top'>
                    <p>Just type what you think about this:</p>
                    <textarea id='message' style='margin-left:5px; width:490px; font-size:16pt;' 
          value='' rows='5' autofocus></textarea>
                    {{body}}
                    <div id='history'></div>
                </td>
                <td colspan='2' width='700' valign='top' height='550' bgcolor='#eeeeee'>
                    {{list}}
                </td>
            </tr>
        </table>
        <!--script>var transition = {pid: '', host: 'localhost', port:'8000'};</script-->
        <script>{{script}}</script>
        {{javascript}}
        <script>protos = [$bert]; N2O_start();</script>
    </body>
</html>
